name: journal-chatbot

services:
  bot:
    build:
      context: .
      dockerfile: ./apps/bot/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - postgres
      - mastra

  mastra:
    build:
      context: .
      dockerfile: ./apps/mastra/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - postgres

  postgres:
    image: 'postgres:17-alpine'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    user: postgres
    restart: unless-stopped

volumes:
  postgres-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/nvme-netac/data/openartel/journal-chatbot
